{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>SSKRU-comsci</title>
        <link
            rel="icon"
            href="https://scontent.fbkk13-3.fna.fbcdn.net/v/t39.30808-6/359752240_651952363645045_6898796722433450076_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFOlOuGD-gIQ9c0pjcD94tJKBhveoFkJXkoGG96gWQleVf2gkB-riN--5g6zE55jwft0172c9pLT0CV8cM3RYpC&_nc_ohc=L03AdBR5ASYQ7kNvgHsB59N&_nc_ht=scontent.fbkk13-3.fna&_nc_gid=A6G64gQt5OkamIcSnRNrtFs&oh=00_AYDzAUIhp_vcq2pckNdN-4PTzObRS3cn99OimfAwTlUF6g&oe=66E791BA"
            type="image/x-icon"
        />
        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-icons.css" %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,700;0,800;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static "css/slick.css" %}"/>

        <link href="{% static "css/tooplate-little-fashion.css" %}" rel="stylesheet">
<!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <strong><span>Computer</span> Science</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'index'%}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'story'%}">Story</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact'%}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content  %}{% endblock %}


        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="index.html">Computer</a> Science</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Computer Science</strong></p><br>
                        <p class="copyright-text">Designed by <a href="https://www.tooplate.com/" target="_blank">I LOVE YOU</a></p>
                    </div>
                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>

                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">Story</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">

                            <li><a href="https://www.facebook.com/comsci.sskru" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="https://www.youtube.com/@PhisanSookkheeSSKRU" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="https://www.tiktok.com/@comsciencesskru?is_from_webapp=1&sender_device=pc" class="social-icon-link bi bi-tiktok"></a></li>

                            <li><a href="https://github.com/numvarn" class="social-icon-link bi-github"></a></li>

                            <li><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=793ozxpi" class="social-icon-link bi-line"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/Headroom.js' %}"></script>
        <script src="{% static 'js/jQuery.headroom.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>
