{% extends "base.html" %}
{% load static %}
{% block content  %}
<header class="site-header section-padding-img site-header-image">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 header-info">
                <h1>
                    <span class="ple8 d-block text-primary">วิทยาการคอมพิวเตอร์</span>
                    <span class="ple8 d-block text-dark">ติดต่อ</span>
                </h1>
            </div>
        </div>
    </div>

    <img src="{% static "images/header/positive-european-woman-has-break-after-work.jpg" %}" class="header-image img-fluid" alt="">
</header>

<section class="contact section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 mt-5 ms-auto">
                <div class="row">
                    <div class="col-6 border-end contact-info">
                        <h6 class="mb-3">Website</h6>
                        <strong>List All</strong>
                        {% for i in response %}
                            {{i.id}}
                        {% endfor %}
                        <a href="https://www.sskru.ac.th/" class="custom-link">
                            SSKRU
                            <i class="bi-arrow-right ms-2"></i>
                        </a>
                    </div>

                    <div class="col-6 contact-info">
                        <h6 class="mb-3">Phone</h6>

                        <Pclass="ple text-muted">+66 - 045 - 643 -600 - 5</p>
                    </div>

                    <div class="col-6 border-top border-end contact-info">
                        <h6 class="mb-3">location</h6>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4613.9108921827155!2d104.2892222!3d15.124666699999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3116e2a8b61a965f%3A0xaf4b509673a71584!2z4Lin4Lix4LiU4LmC4LiZ4LiZ4LmB4LiU4LiH!5e1!3m2!1sth!2sth!4v1726500502072!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p class="ple text-muted">319 ถนนไทยพันทา ตำบลโพธิ์ อำเภอเมืองศรีสะเกษ จังหวัดศรีสะเกษ 33000</p>
                    </div>

                    <div class="col-6 border-top contact-info">
                        <h6 class="mb-3">Our Socials</h6>

                        <ul class="social-icon">

                            <li><a href="https://www.facebook.com/comsci.sskru" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="https://www.youtube.com/@PhisanSookkheeSSKRU" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="https://www.tiktok.com/@comsciencesskru?is_from_webapp=1&sender_device=pc" class="social-icon-link bi bi-tiktok"></a></li>

                            <li><a href="https://github.com/numvarn" class="social-icon-link bi-github"></a></li>

                            <li><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=793ozxpi" class="social-icon-link bi-line"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock  %}