{% extends "base.html" %}
{% load static %}
{% block content  %}
<section class="slick-slideshow">   
    <div class="slick-custom">
        <img src="{% static "images/slideshow/three.jpg" %}" class="img-fluid" alt="">
        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Follow Line Robot</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">กิจกรรมการแข่งขันหุ่นยนต์เดินตามเส้นอัตโนมัติ ในงานสัปดาห์วิทยาศาสตร์ของเรา!</p>

                        <a href="https://web.facebook.com/share/p/VS3P4jSJvFA4dLMB/" class="btn custom-btn">Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="{% static "images/slideshow/two.jpg" %}" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">SisaketRobotics2024</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">สาขาวิชาวิทยาการคอมพิวเตอร์ ได้เป็นส่วนสำคัญในการจัดเตรียมงานต่าง ๆ ตลอดจนรับหน้าที่เป็นผู้ตัดสินให้คะแนน ในการแข่งขันอีกด้วย</p>

                        <a href="https://web.facebook.com/comsci.sskru/posts/pfbid02qtxFyptxYFkicCVEgpHaS58tc2CBBXLmpNTc6dAmPrurMaPMawS1tX9S1gsgPYbrl" class="btn custom-btn">Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="{% static "images/slideshow/one.jpg" %}" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title"> Arduino Student Kit</h1>
                        <p class="lead text-white mt-lg-3 mb-lg-5">โครงการจัดอบรม Arduino Student Kit ฟิสิกส์สัประยุทธ์ ณ คณะศิลปศาสตร์และวิทยาศาสตร์ มหาวิทยาลัยราชภัฏศรีสะเกษ ในวันที่ 27 - 28 ก.ค. 2567 </p>
                        <a href="https://web.facebook.com/share/p/rL1ZGLrXQ7EVYfFa/" class="btn custom-btn">Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock  %}