{% extends "base.html" %}
{% load static %}
{% block content  %}
<section class="about section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-5">Get to know <span>Computer</span> Science</h2>
            </div>

            <div class="col-lg-2 col-12 mt-auto mb-auto">
                <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">วิทยาการคอมพิวเตอร์คือ</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">ทำงานอะไร?</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">ทักษะที่สำคัญ</button>
                    </li>
                </ul>
            </div>

            <div class="col-lg-10 col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <img src="{% static "images/pim-chu-z6NZ76_UTDI-unsplash.jpeg" %}" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="mb-3">Computer <span>Science</span></h4>
                                    <p class ="ple">สาขาวิทยาการคอมพิวเตอร์ (Computer Science) เป็นสาขาที่เน้นการศึกษาทั้งในเชิงทฤษฎีและการปฏิบัติที่เกี่ยวข้องกับการคำนวณ การประมวลผลข้อมูล และการพัฒนาระบบคอมพิวเตอร์ โดยสาขานี้เป็นหนึ่งในสาขาที่สำคัญมากในยุคดิจิทัลที่ทุกสิ่งทุกอย่างเชื่อมโยงกันผ่านเทคโนโลยี</p>
                                    <p class ="ple">จากภาพรวมทั้งหมดนี้ สาขาวิทยาการคอมพิวเตอร์จึงเป็นสาขาที่เต็มไปด้วยความท้าทาย แต่ในขณะเดียวกันก็เป็นสาขาที่เปิดโอกาสให้นักศึกษาได้เรียนรู้และพัฒนาทักษะที่จะมีผลกระทบต่ออนาคตของเทคโนโลยีอย่างมหาศาล</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="ratio ratio-16x9">
                                    <iframe src="https://www.youtube.com/embed/TNtFYkrZVtM?si=CGfg_kfmaycEvfwG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class ="ple4">จบแล้วทำงานอะไร?</h4>

                                    <p class ="ple">ผู้ที่จบจากสาขาวิทยาการคอมพิวเตอร์สามารถทำงานในหลากหลายสาขาอาชีพ เนื่องจากทักษะและความรู้ในด้านการเขียนโปรแกรม การพัฒนาซอฟต์แวร์ และการจัดการข้อมูลมีความต้องการสูงในตลาดงานปัจจุบัน โดยอาชีพที่ผู้สำเร็จการศึกษาสามารถทำได้</p>

                                    <div class="skill-thumb mt-3">

                                        <strong class ="ple4">นักพัฒนาซอฟต์แวร์ Software Developer</strong>                                           
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                </div>

                                        <strong class ="ple4">วิศวกรซอฟต์แวร์ Software Engineer</strong>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                </div>

                                        <strong class ="ple4">นักวิเคราะห์ข้อมูล Data Analyst</strong>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                </div>
                                        <strong class ="ple4">วิศวกรระบบเครือข่าย</strong>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                </div>            
                                    </div>                       
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <img src="{% static "images/cody-lannom-G95AReIh_Ko-unsplash.jpeg" %}" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-5 col-12">
                                <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                    <h4 class="ple4">ทักษะที่สำคัญในสาขาวิทยาการคอมพิวเตอร์</h4>

                                    <p class ="ple">การเขียนโปรแกรม Programming: การเขียนโค้ดเป็นหัวใจของวิทยาการคอมพิวเตอร์ โดยผู้ศึกษาจำเป็นต้องมีความชำนาญในภาษาต่าง ๆ เช่น Python, Java, C++
                                                    การแก้ปัญหา Problem Solving: การคิดเชิงตรรกะและการแก้ปัญหาเป็นทักษะสำคัญที่ใช้ในการออกแบบอัลกอริทึมและพัฒนาซอฟต์แวร์
                                                    การออกแบบระบบ System Design: ความสามารถในการออกแบบระบบซอฟต์แวร์และฮาร์ดแวร์ที่มีประสิทธิภาพและตอบโจทย์ความต้องการของผู้ใช้</p> 
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5">Meet our <span>team</span></h2>
            </div>
            {% for i in response %}
            <div class="col-lg-4 mb-4 col-12">
                <div class="team-thumb d-flex align-items-center">
                    <img src="images/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg" class="img-fluid custom-circle-image team-image me-4" alt=""> 
                    <div class="team-info">
                        <h5 class="mb-0">{{i.name}}</h5>
                        <strong class="text-muted">Product, VP</strong>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#{{i.mu}}">
                          <i class="bi-plus-circle-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% for i in response %}
<div class="modal fade" id="{{i.mu}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <h3 class="modal-title" id="exampleModalLabel">{{i.name}}</h3>
                <h6 class="text-muted">{{i.monk}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <iframe
                    width="450"
                    height="250"
                    frameborder="0" style="border:0"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATRuubv3L9TEtdgtTk0tAziudpHnTiQys&q={{i.name}}&center={{i.address}},{{i.lot}}&zoom=10"allowfullscreen>
                </iframe>
            </div>

            <div class="modal-body">
                <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                <div class="row mb-4">
                    <div class="col-lg-6 col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="col-lg-6 col-12">
                        <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                    </div>
                </div>

                <ul class="social-icon">
                    <li class="me-3"><strong>Where to find?</strong></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock  %}